---
layout: default
---

<div class="home">

  {{ content }}
  
  <h2>Posts</h2>  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h2>Projects</h2>
  <ul class="post-list">
    <li>
      <span class="post-meta">Mar 8, 2018</span>
      <h2>
        <a class="post-link" href="/gender-pay-gap-data.html">Exploring the pay gap with data</a>
      </h2>
    </li>
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
